.main-about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171921;
  position: relative;
  z-index: 1;
}
.main-about-container .about-hero {
  height: 74vh;
  width: 100%;
  position: relative;
}
.main-about-container .about-hero img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.main-about-container .about-hero .hider {
  background-color: #171921;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
}
.main-about-container .about-hero .grade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.553);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about-container .about-hero .about-hero-text-container {
  position: absolute;
  bottom: 5vw;
  left: 5rem;
}
.main-about-container .about-hero .about-hero-text-container h3 {
  color: #f7921f;
  font-size: 2vw;
}
.main-about-container .about-hero .about-hero-text-container h1 {
  color: white;
  font-size: 5vw;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}
.main-about-container .vid-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}
.main-about-container .vid-container video {
  opacity: 5%;
  min-height: 100%;
  min-width: 100%;
}
.main-about-container .about-description {
  display: flex;
  gap: 5rem;
  width: 80rem;
  padding: 15rem 0;
}
.main-about-container .about-description .img-container {
  height: 25rem;
}
.main-about-container .about-description .img-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-about-container .about-description .description-content h2 {
  margin-bottom: 2rem;
  color: #e0711d;
}
.main-about-container .about-description .description-content p {
  line-height: 1.75em;
  color: #bababa;
}
.main-about-container .about-quote {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-about-container .about-quote svg {
  width: 10rem;
  fill: #e0711d;
}
.main-about-container .about-quote p {
  line-height: 35px;
  color: #bababa;
}
.main-about-container .about-quote .author {
  margin-top: 1rem;
  color: #939393;
}
.main-about-container .overlap-grid {
  width: 80rem;
  display: flex;
  flex-direction: column;
  margin: 15rem auto;
  line-height: 2em;
}
.main-about-container .overlap-grid .container {
  display: flex;
  gap: 2rem;
  height: 35rem;
}
.main-about-container .overlap-grid .container.top {
  text-align: right;
}
.main-about-container .overlap-grid .container.bottom {
  margin-top: -3rem;
  align-items: flex-end;
}
.main-about-container .overlap-grid .container .content-container {
  flex: 1;
}
.main-about-container .overlap-grid .container .img-container {
  height: 100%;
  flex: 1;
}
.main-about-container .overlap-grid .container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-about-container .founders-container {
  width: 100%;
  padding: 10rem 0;
  background-color: #1c1f29;
}
.main-about-container .founders-container h2 {
  text-align: center;
  color: #e0711d;
  margin-bottom: 5rem;
}
.main-about-container .founders-container .founders-content {
  width: 80rem;
  margin: auto;
  display: flex;
  gap: 5rem;
}
.main-about-container .founders-container .founders-content .founders-item {
  height: 70vh;
  flex: 1;
  background-color: #1c1f29;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 7px 12px 18px -7px rgba(45, 56, 92, 0.2588235294);
}
.main-about-container .founders-container .founders-content .founders-item h4 {
  font-weight: 500;
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  right: 0;
  z-index: 20;
}
.main-about-container .founders-container .founders-content .founders-item .animation-container {
  width: 100%;
  height: 100%;
}
.main-about-container .founders-container .founders-content .founders-item .animation-container .grade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #1c1f29;
  opacity: 30%;
}
.main-about-container .founders-container .founders-content .founders-item .animation-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=About.css.map */