@import "./breakpoints.scss";

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 3rem 10rem;
    left: 0;
    right: 0;
    z-index: 50;

    ul {
        display: flex;
        gap: 45px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    
        .nav-link {
            color: #747474;
    
            &:hover {
                text-decoration: underline;
            }

            &.active {
                color: #efefef;
                cursor: default;
            }
        }
    }
}

.hero-container {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 100vh;

    .hider {
        background-color: #171921;
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        z-index: 30;
    }

    h1 {
        position: relative;
        z-index: 10;
        top: 10%;
        font-weight: 800;
        color: white;
        font-size: 21vw;
        
        -webkit-text-stroke: 10px white; /* width and color */
        color: transparent;

        span {
            font-weight: 800;
            color: white;
            font-size: 21vw;
            
            -webkit-text-stroke: 10px white;
        }
    }
    

    .hero-img {
        position: absolute;
        inset: 0;
        z-index: 0;
        object-fit: cover;
    }

    .mask-img {
        position: absolute;
        inset: 0;
        z-index: 20;
        object-fit: cover;
    }

    .hero-content {
        position: absolute;
        bottom: 40%;
        left: 10rem;
        right: 10rem;

        .hero-subtitle {
            color: #f79c57;
            margin-bottom: 3rem;
        }
    }
}


.about-container {
    .about-header-container {
        flex: 1.5;
        .about-header {
            font-weight: 400;
            color: #f79c57;
            font-size: 25px;
            margin-bottom: 2rem;
        }
        
        h2 {
            font-size: 6vh;
        }
    }
    .about-content {
        flex: 1;
        width: 45rem;
        p {
            color: #bababa;
            font-size: 14px;
            line-height: 2.5em;
            margin-bottom: 5rem;
        }
        .about-btn {
            width: 10rem;
            height: 2.5rem;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            cursor: pointer;
        }
    }
}


.detail-container {
    padding: 8rem 13rem;
    display: flex;
    gap: 75px;
    min-height: 50vh;

    @include media('<=1530px') {
        padding: 8rem 5rem;
    }
    @include media('<=1300px') {
        flex-direction: column;
    }
    @include media('<=1530px') {
        padding: 8rem 10rem;
    }


    .detail-header {
        writing-mode: vertical-lr; /* or vertical-lr */
        text-orientation: mixed;
        font-weight: 400;
        color: #f79c57;
        font-size: 25px;

        @include media('<=1300px') {
            text-orientation: sideways;
            writing-mode: horizontal-tb;
        }
        
    }

    &.service-container {
        .services-items {
            display: flex;
            flex: 1;
            gap: 5rem;

            @include media('<=1100px') {
                flex-direction: column;
            }
            
            .service-box {
                display: flex;
                flex-direction: column;
                gap: 25px;

                @include media('<=1100px') {
                    align-items: center;
                }
            
                svg {
                    fill: white;
                    height: 3rem;
                    width: 3rem;
                }
    
                p {
                    color: #bababa;
                    font-size: 14px;
                    line-height: 2em;

                    @include media('<=1530px') {
                        font-size: 12px;
                    }
                
                }
            }

            
        }
    }
}

.project-container {
    position: relative;
    background-color: #171921;
    height: 300vh;
    display: flex;

    .project-content {
        flex: 1;
        position: sticky;
        top: 0;

        display: flex;
        gap: 1rem;
        justify-items: center;

        height: 100vh;
        padding: 5rem;
        overflow: hidden;

        .project-details {
            flex: 0.2;

            h1 {
                -webkit-text-stroke: 2px #f79c57; /* width and color */
                color: transparent;
                writing-mode: vertical-lr; /* or vertical-lr */
                text-orientation: mixed;
                font-weight: 400;
                font-size: 15vh;
            }
        }

        .gallery-container {
            flex: 1;
            position: relative;
            height: 100%;
            overflow: hidden;

            .gallery-box {
                position: absolute;
                display: flex;
                top: 0;
                bottom: 0;
                gap: 2rem;
                overflow: hidden;

                .img-container {
                    height: 100%;
                    width: 37vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}